@using Common;
<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/table_data_tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 数据表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="@Url.JsCssFile("~/Content/css/bootstrap.min14ed.css")" rel="stylesheet">
    <link href="@Url.JsCssFile("~/Content/css/font-awesome.min93e3.css")" rel="stylesheet">
    <!-- Data Tables -->
    <link href="@Url.JsCssFile("~/Content/css/plugins/dataTables/dataTables.bootstrap.css")" rel="stylesheet">
    <link href="@Url.JsCssFile("~/Content/css/animate.min.css")" rel="stylesheet">
    <link href="@Url.JsCssFile("~/Content/css/style.min862f.css")" rel="stylesheet">
    <link href="@Url.JsCssFile("~/Content/js/plugins/layer/skin/layer.css")" rel="stylesheet">
    <link href="@Url.JsCssFile("~/Content/js/plugins/layer/skin/layer.ext.css")" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        @RenderSection("MainContent", required: false)
        @RenderBody();
    </div>
    <script src="@Url.JsCssFile("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/plugins/jeditable/jquery.jeditable.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/plugins/dataTables/dataTables.bootstrap.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/content.min.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/plugins/iCheck/icheck.min.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/admin/common/common.js")"></script>
    <script src="@Url.JsCssFile("~/Content/js/plugins/layer/layer.min.js")"></script>

    <script>
        $(document).ready(function () {
            $(".dataTables-example").dataTable(); var oTable = $("#editable").dataTable(); oTable.$("td").editable("http://www.zi-han.net/theme/example_ajax.php", { "callback": function (sValue, y) { var aPos = oTable.fnGetPosition(this); oTable.fnUpdate(sValue, aPos[0], aPos[1]) }, "submitdata": function (value, settings) { return { "row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2] } }, "width": "90%", "height": "100%" })
            VaildataPermission(@Html.Raw(ViewData["PermissionList"]));
        });
        function fnClickAddRow() { $("#editable").dataTable().fnAddData(["Custom row", "New row", "New row", "New row", "New row"]) };

    </script>
   
</body>
@RenderSection("PageSpecificStyleSheetIncludes",required: false);
      
<!-- Mirrored from www.zi-han.net/theme/hplus/table_data_tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:02 GMT -->
</html>

